# my global config
global:
  scrape_interval:     "{{ scrape_interval }}" 
  evaluation_interval: "{{ evaluation_interval }}" 

scrape_configs:
  
- job_name: 'prometheus'
  static_configs:
    - targets: ['node1:{{ prometheus_port }}']


#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node
  scrape_interval: 15s
  metrics_path: /metrics
  static_configs:
  - targets:
{% for server in groups[prometheus_node_exporter_group] %}
    - '{{ server }}:9100'
{% endfor %}
{% endif %}

